//- mixin btn(data)
//-   if data.link
//-     if data.download
//-       +e.A.btn.btn(class=attributes.class href=data.href download)!= data.text
//-     else if data.target
//-       +e.A.btn.btn(class=attributes.class href=data.href target=data.target)!= data.text
//-     else
//-       +e.A.btn.btn(class=attributes.class href=data.href)!= data.text
//-   else
//-     if data.modal
//-       +e.BUTTON.btn.btn(class=attributes.class type=data.type data-modal=data.modal)!= data.text
//-     else
//-       +e.BUTTON.btn.btn(class=attributes.class type=data.type data-modal=data.modal)!= data.text


mixin link()
  +e.A.btn.btn(class=attributes.class href=data.href)!= data.text
  
mixin btn(text)
  +e.BUTTON.btn.btn(class=attributes.class)!=text

mixin burger
  +b.BUTTON.burger(aria-label="open menu")
    +e.SPAN.icon